---
title: "Katalon Test Reporting and Katalon Analytics (Beta)"
sidebar: katalon_studio_videos_sidebar
permalink: katalon-studio/videos/katalon_analytics_test_report.html
description: "In this video we will talk about Katalon Test Reporting and Katalon Analytics in complete detail. We will also discuss: Test Suite Collection & Test Logger"
---
<iframe src="https://www.youtube.com/embed/cn2KY4lxXp4?autoplay=1" width="560" height="349" frameborder="0" allowfullscreen="allowfullscreen">&nbsp;</iframe>

In this video we will talk about Katalon Test Reporting and Katalon Analytics in complete detail.

We will also discuss:  
1\. Test Suite  
2\. Test Suite Collection  
3\. Test Logger

Read more: **[What is Katalon Analytics?](http://docs.katalon.com/pages/viewpage.action?pageId=5118810)**

**Note: This video is contributed by Karthik K.K from [http://executeautomation.com/blog/](http://executeautomation.com/blog/)**